$primary-color: #3498db;
$primary-color-dark: #2980b9;
$primary-color-light: #5faee3;
$secondary-color: #6c757d;
$secondary-color-dark: #5a6268;
$success-color: #2ecc71;
$success-color-dark: #28af60;

$error-color: #e74c3c;
$error-color-dark: #cb2b19;

$border-radius: 20px;
$text-color: #333;
